.header {
  position: fixed;
  display: flex;
  flex: 0 0 auto;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  border-bottom: 1px solid #ececec;
  opacity: 0.98;
  z-index: 10;

  &__container {
    width: 1200px;
  }

  &__items {
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
  }
}
