.layout__item {
  max-width: 270px;
  margin: 15px;

  &::before {
    content: "";
    display: block;
    height: 120px;
    background-color: #f5f4fa;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 4px;
    margin-bottom: 30px;
  }
}

.icon-antenna::before {
  background-image: url(../image/antenna.svg);
}

.icon-clock::before {
  background-image: url(../image/clock.svg);
}

.icon-diagram::before {
  background-image: url(../image/diagram.svg);
}

.icon-astronaut::before {
  background-image: url(../../image/astronaut.svg);
}
