.layout__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.14;
  margin-bottom: 10px;

  text-transform: uppercase;

  color: #212121;
}

.layout__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: #757575;
}
