.modal__button {
  display: flex;
  align-items: center;
  color: #ffffff;
  font-style: 700;
  font-size: 16px;
  line-height: 1.6;
  align-items: center;
  vertical-align: center;
  padding: 10px 55px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.modal__close-button {
  position: absolute;
  display: flex;
  align-items: center;
  top: 8px;
  right: 8px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);

  &:focus {
    border-color: #2196f3;
  }
}

.modal-close-icon {
  display: block;
  pointer-events: none;

  .modal__close-button:hover & {
    fill: #2196f3;
  }
}
